# Core HTTP + config
requests==2.33.1
python-dotenv==1.2.2

# Data handling
pandas==3.0.2
numpy==2.4.4

# Plotting (not needed in Lambda, only locally)
matplotlib==3.10.9
seaborn==0.13.2

# Geospatial (only if you REALLY use them)
pyproj==3.7.2

# Sentinel Hub
sentinelhub==3.11.5